@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: #e2e2e5;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  display: flex;
  flex-direction: column;
  position: absolute;
  place-content: center;
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: 50%;
  top: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    max-height: 270px;
  }
}
.title {
  font-size: 40px;
  font-weight: 900;
  margin: 50px 40px 20px;
}
.eula {
  color: rgb(56, 52, 52);
  font-size: 20px;
  line-height: 1.5;
  margin: 1px 40px 20px;
}
.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
input {
  margin-bottom: 10px;
  border: 0;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  transition: color 300ms;
}
#submit:focus {
  color: #000000;
}
#submit:active {
  color: #000000;
}
#password{
  margin-top: 10px;
  width: 98%;
  border: 1px solid #707075;
  border-radius: 4px;
}